/* GLOBALS */
*{
    font-family: 'Lato', sans-serif;
}

.hidden {
    display: none;
    visibility: hidden;
}

/* ANIMATION KEY FRAMES */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* DEVICE SELECT SCREEN */
#devices {
    overflow: hidden;
}

.device_container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border: 1px solid rgb(34, 34, 34);
    justify-content: center;
}

.loader {
    align-self: center;
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgb(34, 34, 34);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

#loader_title {
    align-self: center;
    position: relative;
    top: -2em;
}

.selection_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#device_form {
    display: flex;
    flex-direction: column;
}

#device_list {
    align-self: center;
    color: rgb(34, 34, 34);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 36px;
}

#device_list:focus {
    outline: none;
}

#device_item {
    color: rgb(34, 34, 34);
}

#device_submit {
    width: 80px;
    height: 30px;
    background-color: rgb(34, 34, 34);
    border: 1px solid rgb(34, 34, 34);
    border-radius: 10%;
    color: white;
    text-transform: uppercase;
    align-self: center;
    margin-top: 1em;
}

#device_submit:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* FRAME */
#nav {

}

#close {
    font-size: 24px;
    margin: 10px;
}

#minimize {
    font-size: 24px;
    padding: 10px;
}

#close:hover {
    cursor: pointer;
}

#minimize:hover {
    cursor: pointer;
}


/* MAIN SCREEN */
.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

#hero_banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-top: 2em;
}

#hero_banner img {
    width: 300px;
    align-self: center;
}

#input_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#video_input {
    font-size: 50px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(34, 34, 34);
    align-self: center;
    margin: 1em;
    padding: .3em;
    text-indent: .5em;
}

#video_input:focus {
    outline: none;
    border-bottom: 3px solid rgb(34, 34, 34);
}

#video_input:focus::placeholder {
    visibility: hidden;
}

#video_input:hover {

    border-bottom: 3px solid rgb(34, 34, 34);
}

#get_video {
    background: none;
    border: none;
    color: rgb(34, 34, 34);
    cursor: pointer;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

#get_video:focus {
    outline: none;
}

#get_video:hover {
    opacity: 0.8;
}

.controls {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding-top: 3em;
}

#sonos_stop {
    background: none;
    border: none;
    color: rgb(34, 34, 34);
    cursor: pointer;
    font-size: 150px;
    margin: 0;
    padding: 1em;
    right: -0.5em;
}

#sonos_stop:hover {
    opacity: 0.8;
}

#sonos_stop:focus {
    outline: none;
}

#sonos_play {
    background: none;
    border: none;
    color: rgb(34, 34, 34);
    cursor: pointer;
    font-size: 150px;
    margin: 0;
    padding: 1em;
    left: -0.5em;
}

#sonos_play:hover {
    opacity: 0.8;
}

#sonos_play:focus {
    outline: none;
}

#volume_form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#volume_form input {
    width: 60%;
    align-self: center;
}

#volume_form p {
    align-self: center;
    text-align: center;
    width: 100%;
}

.sonos_state {
    align-self: center;
}

#device_state {
    font-style: italic;
    opacity: 0.5;
    font-weight: 100;
}

