/* GLOBALS */
*{
    font-family: 'Lato', sans-serif;
}

/* DEVICE SELECT SCREEN */
.device_container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border: 1px solid rgb(34, 34, 34);
}

.device_list {
    color: rgb(34, 34, 34);
}

.device_item {
    color: rgb(34, 34, 34);
}

/* MAIN SCREEN */
.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#hero_banner {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

#hero_banner img {
    width: 300px;
    align-self: center;
}

#input_container {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#video_input {
    font-size: 50px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(34, 34, 34);
    align-self: center;
    margin: 1em;
    padding: .3em;
    text-indent: .5em;
}

#video_input:focus {
    outline: none;
    border-bottom: 3px solid rgb(34, 34, 34);
}

#video_input:focus::placeholder {
    visibility: hidden;
}

#video_input:hover {

    border-bottom: 3px solid rgb(34, 34, 34);
}

#get_video {
    background: none;
    border: none;
    color: rgb(34, 34, 34);
    cursor: pointer;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

#get_video:focus {
    outline: none;
}

#get_video:hover {
    opacity: 0.8;
}

.controls {
    display: flex;
    flex-direction: row;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 3em;
}

#sonos_stop {
    background: none;
    border: none;
    color: rgb(34, 34, 34);
    cursor: pointer;
    font-size: 150px;
    margin: 0;
    padding: 0;
}

#sonos_stop:hover {
    opacity: 0.8;
}

#sonos_stop:focus {
    outline: none;
}

#sonos_play {
    background: none;
    border: none;
    color: rgb(34, 34, 34);
    cursor: pointer;
    font-size: 150px;
    margin: 0;
    padding: 0;
}

#sonos_play:hover {
    opacity: 0.8;
}

#sonos_play:focus {
    outline: none;
}